<div class="profile-page" *ngIf="userProfile">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img class="user-img" [src]="userProfile.image" alt="user-image">
          <h4>{{userProfile.username}}</h4>
          <p>{{userProfile.bio}}</p>
          <div>
            FOLLOW USER BUTTON
            <a class="btn btn-sm btn-outline-secondary action-btn"
               [routerLink]="['/settings']"
               *ngIf="isCurrentUserProfile$ | async"
            >
              <i class="ion-gear-a"></i>
              Edit Profile Settings
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact: true}"
                 [routerLink]="['/profiles', userProfile.username]"
              >
                My Posts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact: true}"
                 [routerLink]="['/profiles', userProfile.username, 'favorites']"
              >
                Favorited Posts
              </a>
            </li>
          </ul>
        </div>
        <mc-feed [apiUrlProps]="apiUrl"></mc-feed>
      </div>
    </div>
  </div>
</div>
