<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <mc-error-messages
          *ngIf="errorsProps"
          [errors]="errorsProps"
        ></mc-error-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset [disabled]="form.invalid || isSubmittingProps">
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="title"
                placeholder="Article title"
                type="text"
              />
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="description"
                placeholder="What is this article about?"
                type="text"
              />
            </fieldset>

            <fieldset class="form-group">
              <textarea
                class="form-control form-control-lg"
                formControlName="body"
                placeholder="Write your article (in markdown)"
                rows="8"
              ></textarea>
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="tagList"
                placeholder="Enter tags"
                type="text"
              />
            </fieldset>

            <fieldset>
              <button
                class="btn btn-lg pull-xs-right btn-primary"
                type="submit"
              >
                Publish article
              </button>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
